@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="Cloudtraining1001@outlook.com" inert Bangalore>building Web apps with ASP.NET Core</a>.</p>
</div>
